@media (min-width: 1024px) and (max-width: 1199px){
#main {
    margin-top: 45% !important;
}
.search-button{
	width: 28% !important;
}
}
@media (min-width: 992px) and (max-width: 1023px){

.account span {
    display: none;
}
.account h4 {
    padding-top: 11px;
}
div#carouselExampleIndicators {
    margin-left: 35px;
}
#main {
    margin-top: 43% !important;
}
.search-button {
    width: 25% !important;
}
.dangkymail-button {
    padding: 7px 10px 0px 10px !important;
}
}


@media (min-width: 810px) and (max-width: 991px){
.account span {
    display: none;
}
.account h4 {
    padding-top: 11px;
}
div#carouselExampleIndicators {
    margin-left: 34px;
}
.logo img {
    width: 100%;
}
.container {
    max-width: 950px !important;
}
#main {
    margin-top: 60% !important;
}
.owl-carousel .owl-stage-outer {
    padding: 0px 40px !important;
}
.search-button{
	width: 24% !important;
}
.fl-mail h4 {
    font-size: 15px !important;
    padding-top: 20px !important;
}
#header{
	height: 165px !important;
}
.item-content {
    height: 150px;
}


}

@media (min-width: 768px) and (max-width: 809px){
.logo img {
    width: 100%;
}
.col-sm-md-9.pt-0.pl-1.pr-1.text-black {
    display: none;
}
.introduce-contacts li {
    padding: 10px 8px;
    position: relative;
}
.introduce-contacts li {
    padding: 10px 8px !important;
}
.slider {
    padding-left: 23.5% !important;
}
#main {
    margin-top: 68% !important
}
.item-content {
    border-radius: 5px;
    height: 170px;
}
.fl-mail h4 {
    padding-top: 5px !important;
}
.search-button{
	width: 30% !important;
}

}




@media (max-width: 767px){

	.col-sm-3.container-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    text-align: center;
	}
	.col-sm-2.singin {
    display: none;
	}	
	.col-sm-5.container-search {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	.menutop span{
		color: white !important;
	}
	.icon-bar{
		background: white !important;
	}
	.menutop{
	width: 100% !important;
	text-align: center !important;
    background-color: #ff9221 !important;
    border-radius: 5px !important;
	}
	.col-sm-3.mt-2.container-list-danhmuc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	.container-list-danhmuc:hover .nav-bar{
		display: block;
	}
	.nav-bar{
		display: none;
		width: 100% !important;
	}
	.sub-menu{
		display: none !important;
	}
	.slider {
    padding-left: 17px !important;
	}
	.container-contacts{
		display: none;
	}
	.title-content span {
		font-size: 13px;
	}
	.item-content img{
		padding-left: 20px;
	}
	#main{
		margin-top: 227px !important;
	}
	.col-sm-6.container-left-mail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 15px;
	}
	.col-sm-6.container-right-mail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	.fl-mail h4{
		font-size: 21px !important;
	}



}
@media (max-width:481px) {
	.col-sm-3.item {
    padding-top: 10px;
	}
	.product{
		padding-top: 15px;
	}
	.product a{
		display: block !important;
	}
	.dangkymail-button {
    width: 110px !important;
	}
	#main {
    margin-top: 45% !important;
}
}